*.pyc
*~
*/__pycache__/*
*.pyo
*.pyd
.Python
env.py
db.sqlite3
*.sqlite3
.env
*.env

venv/
env/

/static/
!static/images/35mmIcon.jpg
!static/css/main.css
/media/

.DS_Store

Thumbs.db

*.sublime-*

.idea/
