{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <div class="login-container">
        <div class="logo-section">
            <img src="{% static 'images/35mmIcon.png' %}" alt="35mm Logo" class="login-logo">
        </div>
        <div class="form-section">
            <div class="form-box">
                <h3>Login</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
