@font-face {
    font-family: 'inter';
    src: local('inter'),
         url('../fonts/inter.ttf') format("truetype");
}

@media (max-width: 991px) {
    .logo-section, .login-logo {
        display: none !important;
    }

    .login-container, .form-section {
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    .form-box {
        width: auto;
        padding: 20px;
        margin: 0 20px;
    }
}

@media (max-width: 767px) {
    .logo-section, .login-logo {
        display: none !important;
    }

    .login-container, .form-section {
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    .form-box {
        width: auto;
        margin: 0 10px;
        padding: 15px;
    }

    .modal-content,
    .enlarged-photo {
        max-width: 100%;
        width: auto;
    }
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'inter', sans-serif;
    background-color: #231E0D;
}

.login-container {
    display: flex;
    height: 100vh;
}

.logo-section {
    background-color: #fab617;
    width: 33.33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-logo {
    width: 300px;
    height: auto;
}

.form-section {
    background-color: #231E0D;
    width: 66.66%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 400px;
    padding: 40px;
    background: #FAF9F6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box h3 {
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.form-box form p {
    width: 100%;
    text-align: center;
}

.form-box input[type='text'],
.form-box input[type='password'] {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    box-sizing: border-box;
}

.form-box label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.form-box button {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e30613;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.form-box button:hover,
.form-box button:active {
    background-color: #9b040e;
    transform: scale(1.02);
}

.navbar {
    background-color: #fab617 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #231E0D;
}

.nav-link .fas {
    margin-right: 5px;
}

.nav-item.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.navbar .nav-link {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navbar-nav.mx-auto {
    display: flex;
    justify-content: center;
}


.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
}

.btn-logout {
    border: none;
    margin-right: 0px;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    transition: background-color 0.3s ease;
}

.icon-logout {
    color: #FFD700;
    font-size: 24px;
    text-decoration: none;
}

.icon-logout img {
    height: 24px;
    width: auto;
}

.grid-container {
    padding: 20px;
    margin-top: 100px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    align-items: stretch;
}

.photo-item {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.photo-item img {
    width: 100%;
    height: auto;
    border: 5px solid #FAF9F6;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.photo-modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-height: 80vh;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enlarged-photo {
    max-width: 100%;
    max-height: 100vh;
    margin-bottom: 10px;
}

#photoTitle {
    text-align: left;
    padding-top: 10px;
}

.close {
    position: absolute;
    right: 3px;
    top: 0px;
    font-size: 20px;
    cursor: pointer;
}

#img-section {
    max-width: 100%;
    max-height: 600px;
    display: block;
    margin: 0 auto;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.modal-title #photoTitle {
    font-weight: bold;
    margin-right: 10px;
}

.modal-album {
    font-weight: bold;
}

.modal-description {
    margin-bottom: 15px;
}

.photo-details {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}

.detail-label {
    font-weight: bold;
}

.detail {
    font-style: italic;
}

.color-swatch {
    width: 20%;
    height: 20px;
    display: inline-block;
    margin: 0;
    border: 1px;
}

.color-bar {
    height: 20px;
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

#reviewModal .modal-content input[type='text'],
#reviewModal .modal-content textarea {
    width: calc(100% - 20px); /* Adjusts width considering padding */
    padding: 10px; /* Adds padding inside the inputs */
    margin-bottom: 10px; /* Adds space below each input */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
}

#reviewModal .modal-title {
    padding-top: 20px; /* Adds space above the title */
}

#reviewModal .photo-details > input[type='text'] {
    grid-column: span 1;
}

#reviewModal .modal-description {
    grid-column: span 2;
}

.form-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.form-input-group input,
.form-input-group textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-input-group textarea {
    resize: vertical;
    height: auto;
    min-height: 38px;
}

#title {
    margin-top: 10px;
}

.styled-submit {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e30613;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: 100%;
}

.styled-submit:hover,
.styled-submit:active {
    background-color: #9b040e;
    transform: scale(1.02);
}