@font-face {
    font-family: 'inter';
    src: local('inter'),
         url('../fonts/inter.ttf') format("truetype");
}

@media (max-width: 991px) {
    .logo-section, .login-logo {
        display: none !important;
    }

    .login-container, .form-section {
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    .form-box {
        width: auto;
        padding: 20px;
        margin: 0 20px;
    }
}

@media (max-width: 767px) {
    .logo-section, .login-logo {
        display: none !important;
    }

    .login-container, .form-section {
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    .form-box {
        width: auto;
        margin: 0 10px;
        padding: 15px;
    }
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'inter', sans-serif;
    background-color: #231E0D;
}

.login-container {
    display: flex;
    height: 100vh;
}

.logo-section {
    background-color: #fab617;
    width: 33.33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-logo {
    width: 300px;
    height: auto;
}

.form-section {
    background-color: #231E0D;
    width: 66.66%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 400px;
    padding: 40px;
    background: #FAF9F6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box h3 {
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.form-box form p {
    width: 100%;
    text-align: center;
}

.form-box input[type='text'],
.form-box input[type='password'] {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    box-sizing: border-box;
}

.form-box label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.form-box button {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e30613;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.form-box button:hover,
.form-box button:active {
    background-color: #9b040e;
    transform: scale(1.02);
}

.navbar {
    background-color: #fab617 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #231E0D;
}

.nav-link .fas {
    margin-right: 5px;
}

.nav-item.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.navbar .nav-link {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navbar-nav.mx-auto {
    display: flex;
    justify-content: center;
}


.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
}

.btn-logout {
    border: none;
    margin-right: 0px;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    transition: background-color 0.3s ease;
}

.icon-logout {
    color: #FFD700;
    font-size: 24px;
    text-decoration: none;
}

.icon-logout img {
    height: 24px;
    width: auto;
}